body {
	height: 94.8vh;
	background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	font-family: monotype Corsiva;
	font-size: 23px;
}
#todo {
	max-width: 400px;
	background-color: white;
	height: 93vh;
	margin: auto;
	box-shadow: 0 0 10px black;
}
h1 {
	font-family: Dancing Script, Arial, sans-serif;
	color: white;
	padding: 20px;
	margin-bottom: 0px;
	background-color: #64AAD0;
	font-family: monotype Corsiva;
}
input {
	width: 94%;
	padding: 1%;
	padding-left: 20px;
	border-top: 3px solid grey;
	border-bottom: 3px solid grey;
	border-left: 0px solid grey;
	border-right: 0px solid grey;
	font-family: monotype Corsiva;
	font-size: 27px;
}
.todolist {
	max-height: 73%;
	overflow: auto;
}
ul {
	margin: 0;
	padding: 0;
}
li {
    list-style-type: none;
    padding-top: 10px;
    background-color: #f7f7f7;
    user-select: none;
	padding-left: 15px;
   }
li:nth-child(2n) {
	background-color: #edf1f5;
}
.buttons {
	display: flex;
	justify-content: space-around;
}
button {
	background-color: #64AAD0;
	border: none;
	border-radius: 4px;
	margin-top: 10px;
	color: white;
	padding: 8px;
	font-family: monotype Corsiva;
	font-size: 22px;
}
.chek {
	text-decoration: line-through;
	color: gray;
}
img {
	opacity: 0;
	width: 0px;
	height: 26px;
	vertical-align: sub;
	margin-right: 10px;
	transition: width 2s, opacity 1s;
}
li:hover img {
	width: 24px;
	opacity: 1;
}